
<main id="NavMain">
    <nav>
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/team">Team</a></li>
            <li><a href="/booking">Booking</a></li>
    </ul>
    <img src="../assets/img/Vector.png" alt="">
        <ul>
             <li><a href="/menu">Menu</a></li>
             <li><a href="/gallery">Galerie</a></li>
             <li><a href="/events">Events</a></li>
             <li><a href="/contact">Contact</a></li>
        
         </ul>
    </nav>

    <section id="HP">
        <div class="offnungzeit">
           <p> Mon - Fri: 8PM - 10PM, Sat - Sun: 8PM - 3AM
           </p>
        </div>
        <div class="one"> 
            <ul>
                <li class="resta">RESTA</li>
                <li class="hungrey">HUNGREY</li>
                <li class="book"><a href="#">BOOK TABLE</a></li>
            </ul>
        </div>
        <div class="tow">
            <ul>
                <li class="urant">URANT</li>
                <li class="peopl">PEOPLE</li>
                <li class="explore"><a href="#">EXPLORE</a></li>
            </ul>
        </div>
        <div class="three">
            <img src="../assets/img/facebook.png" alt="">
            <img src="../assets/img/twitter.png" alt="">
            <img src="../assets/img/instagram.png" alt="">
        </div>

    </section>
    <img class="line" src="../assets/img/line.png" alt="">
    <img class="down" src="../assets/img/down.png" alt="">
</main>


