<%- include('./partials/header') %>
<%- include('./partials/nav') %>
    
<main id="HomeMain">
    <div class="aboutone">
        <ul>
            <li class="aboutUs">about us</li>
            <li> <img class="line1" src="../assets/img/line.png" alt=""></li>
            <li class="lorem1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor magna.</li>
            <li class="textt"> Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non ultrices ligula. Sed dictum, enim sed ullamcorper feugiat, dui odio vehicula eros, a sollicitudin lorem quam nec sem. Mauris tincidunt feugiat diam convallis pharetra. Nulla facilisis semper laoreet.</li>
        </ul>
    </div>
    <div class="homeFoto">
        <img class="border" src="../assets/img/borderimg.png" alt=""></li>
    </div>
</main>











    <%- include('./partials/footer') %>