<%- include('./partials/header') %>
<%- include('./partials/nav') %>
    <main id="BookingMain">
        <div class="BookAtable">
            <h1>BOOK A TABLE</h1>
            <img class="line2" src="../assets/img/line.png" alt="">

            <form action="">
                <input type="text" placeholder="Name" >
                <input type="email" placeholder="Email" ><br>

                <input type="tel" placeholder="Phone" >
                <select class="people">
                   <option value="people">People</option>
                </select> <br>

                <input type="number" placeholder="Date(mm/dd)">
                <select class="time">
                    <option value="Time">Time</option>
                 </select><br>
                
        </form>
        <a href="#"> BOOK NOW</a>
        </div>
         
        <div class="BookingFoto">
            <img class="border1" src="../assets/img/borderimg.png" alt=""></li>
        </div>
    </main>
    
    <article id="BookingArticle">
        <p>Mon - Fri: 8PM - 10PM, Sat - Sun: 8PM - 3AM, Phone: +40 729 131 637/+40 726 458 782</p>
    </article>
    
    <%- include('./partials/footer') %>


   