<%- include('./partials/header') %>
<%- include('./partials/nav') %>
<main id="ContactMain">
    <div>
        <ul>
            <li class="contact">Contact</li>
            <li> <img class="line2" src="../assets/img/line.png" alt=""></li>
            <li class="lorem3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br> Duis at velit maximus, molestie est a, tempor magna.</li>
        </ul>
    </div>

    <div class="data">
       <form action="">
        <input type="text" placeholder="Name" id="">
        <input type="email" placeholder="Email" id="">
        <input type="tel" placeholder="Phone" >
        <br>
        <input type="text" placeholder="Message" id="message">
        <br>

        <img src="../assets/img/london.png" alt="">
        <a href="#">Send Message</a>
       </form>
    </div>

</main>

<article>
    <img src="../assets/img/Maap.png" alt="">
</article>

    <%- include('./partials/footer') %>