<%- include('./partials/header') %>
<%- include('./partials/nav') %>

<main id="EventM">
    <h3>PRIVATE EVENTS</h3>

    <article id="EventA">

       
        <div>
            <figure>
                <img class="border3" src="../assets/img/borderimg.png" alt="">
                <h2 class="WEDD">Weddings</h2>
            </figure>
        </div>

        <div>
            <figure>
                <h2 class="COR">Corporate pzrties</h2>
            <img class="border4" src="../assets/img/borderimg.png" alt="">
        </figure>
        </div>
    </article>

    <p>For private events please call: +40 729 131 637/+40 726 458 782 or use the contact form.</p>

</main>

    <%- include('./partials/footer') %>