<%- include('./partials/header') %>
<%- include('./partials/nav') %>


<main id="GalleryMain">
    <h3>specialties</h3>

    <article id="GalleryArticle">
    <div class="GalleryFoto">
        <img class="border2" src="../assets/img/borderimg.png" alt="">
    </div>
    <div class="Galleryone">
        <ul>
            <li class="master">chocolate pancakes</li>
            <li> <img class="line2" src="../assets/img/line.png" alt=""></li>
            <li class="lorem2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at <br>  velit maximus, molestie est a, tempor magna.</li>
            <li class="text1"> Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non <br> ultrices ligula. Sed dictum, enim sed ullamcorper feugiat, dui odio vehicula eros, a <br> sollicitudin lorem quam nec sem. Mauris tincidunt feugiat diam convallis pharetra. Nulla <br> facilisis semper laoreet.</li>
        </ul>
    </div>
</article>
</main>
    <%- include('./partials/footer') %>