<%- include('./partials/header') %>
<%- include('./partials/nav') %>

<main id="MenuMain">
    <div>
        <ul>
            <li class="contact">DELICIOUS MENU</li>
            <li> <img class="line2" src="../assets/img/line.png" alt=""></li>
            <li class="lorem3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br> Duis at velit maximus, molestie est a, tempor magna.</li>
        </ul>
    </div>

    <div>
        <h3>SOUPE</h3>
        <h3>PIZZA</h3>
        <h3>PASTA</h3>
        <h3>DESERT</h3>
        <h3>WINE</h3>
        <h3>BEER</h3>
        <h3>DRINKS</h3>
    </div>
</main>

    <%- include('./partials/footer') %>