<%- include('./partials/header') %>
<%- include('./partials/nav') %>


<main id="TeamMain">
    <h3>Our Team</h3>

    <div class="TeamFoto">
        <img class="border1" src="../assets/img/borderimg.png" alt="">
    </div>
    <div class="Teamone">
        <ul>
            <li class="master">MASTER CHEF</li>
            <li> <img class="line2" src="../assets/img/line.png" alt=""></li>
            <li class="lorem2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor magna.</li>
            <li class="text1"> Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non ultrices ligula. Sed dictum, enim sed ullamcorper feugiat, dui odio vehicula eros, a sollicitudin lorem quam nec sem. Mauris tincidunt feugiat diam convallis pharetra. Nulla facilisis semper laoreet.</li>
        </ul>
    </div>
   
</main>

    <%- include('./partials/footer') %>